{% extends "layout.html" %}

{% block title %}
Hello
{% endblock %}

{% block main %}

<h1>Let's Discuss</h1>

<p>This questionnaire helps you explore your views on responsibility in various life situations. 
    
    <br><br>You and your partner can provide your answers and compare them to gain insights into your expectations. By discussing your responses, you can better understand each other's perspectives and find common ground when it comes to fulfilling your responsibilities. 
    
    <br><br>It's an opportunity to have meaningful conversations and align your visions for shared duties.</p>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
<div id="buttonDiv"></div>

{% endblock %}