<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!--  TODO Icon -->
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <!-- <link href="/static/favicon.ico" rel="icon"> -->

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

        <!-- Local style -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

        <title>Let's Discuss: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            <a href="mailto: talkwithletsdiscuss@gmail.com">Questions or issues? Contact us!</a>
        </footer>

    </body>

</html>
