{% extends "layout.html" %}

{% block title %}
Partner's Invite
{% endblock %}

{% block main %}

<script type="module" src="{{ url_for('static', filename='js/partner_link.js') }}"></script>

<div class="mb-3">

    <p>Nice to meet you, {{ name }}! 
        
        <br><br>Below is your unique link that you can share with your partner. Once both of you have completed the questionnaire, you'll be able to compare and discuss your answers together.</p>
    <p id="partner-link">{{ link }}</p>
    <p class="text-muted">Share the link with your partner and engage in a meaningful conversation together</p>

    <button class="btn btn-primary btn-sm" id="copy-btn">Copy</button>

</div>

<form action="/questions" method="get">
    <button class="btn btn-primary" type="submit">Next</button>
</form>

{% endblock %}