{% extends "layout.html" %}

{% block title %}
Questions
{% endblock %}

{% block main %}
<script type="module" src="{{ url_for('static', filename='js/partner_link.js') }}"></script>

<h1>Questions</h1>

{% if link %}

<p>{{ name }}, answer the questions below and remember to share the link with your partner for discussion.</p>
<div class="text-row">
    <p id="partner-link" class="text-link">{{ link }}</p>
    <button class="secondary-small-button" id="copy-btn">Copy</button>
</div>

{% else %}

<p>{{ name }}, answer the following questions to discuss them with your partner.</p>

{% endif %}

<form action="/questions" method="post">
    <table>
        {% for section in sections %}
        <tr>
            <th colspan="5">{{ section.text }}</th>
        </tr>
        {% for question in section.questions %}
        <tr>
            <td>{{ question.text }}</td>
            {% for option in options %}
            <td>
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ option.id }}">
                    {{ option.text }}
                </label>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    <button class="primary-button" type="submit">Submit</button>
</form>

{% endblock %}